/* guess button styling */

.guess-button{
    background-color: #008CBA; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid #008CBA;
  }

  .guess-button:hover {
    background-color: #f5f5f5;
    color: #008CBA;
    border: 2px solid #008CBA;
  }